<?php
  echo $_GET['type'];
?>

<form action="view.php" class="box"
    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore doloribus blanditiis dignissimos accusantium. Iure possimus impedit facere aspernatur nulla illo accusantium saepe repudiandae. Hic vel blanditiis nesciunt ad, voluptatem expedita!"
    method="get">
    <div class="titleItens">Lorem ipsum</div>
    <div class="boxImg"><img src="./img/sale.jpg" alt=""></div>
    <div class="preco1">De: 99,99R$</div>
    <div class="preco2">Por: 89,99R$</div>
    <div class="button">
        <button>COMPRAR</button>
    </div>
</form>
<form action="view.php" class="box"
    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore doloribus blanditiis dignissimos accusantium. Iure possimus impedit facere aspernatur nulla illo accusantium saepe repudiandae. Hic vel blanditiis nesciunt ad, voluptatem expedita!"
    method="get">
    <div class="titleItens">Lorem ipsum</div>
    <div class="boxImg"><img src="./img/sale.jpg" alt=""></div>
    <div class="preco1">De: 99,99R$</div>
    <div class="preco2">Por: 89,99R$</div>
    <div class="button">
        <button>COMPRAR</button>
    </div>
</form>
<form action="view.php" class="box"
    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore doloribus blanditiis dignissimos accusantium. Iure possimus impedit facere aspernatur nulla illo accusantium saepe repudiandae. Hic vel blanditiis nesciunt ad, voluptatem expedita!"
    method="get">
    <div class="titleItens">Lorem ipsum</div>
    <div class="boxImg"><img src="./img/sale.jpg" alt=""></div>
    <div class="preco1">De: 99,99R$</div>
    <div class="preco2">Por: 89,99R$</div>
    <div class="button">
        <button>COMPRAR</button>
    </div>
</form>
<form action="view.php" class="box"
    title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore doloribus blanditiis dignissimos accusantium. Iure possimus impedit facere aspernatur nulla illo accusantium saepe repudiandae. Hic vel blanditiis nesciunt ad, voluptatem expedita!"
    method="get">
    <div class="titleItens">Lorem ipsum</div>
    <div class="boxImg"><img src="./img/sale.jpg" alt=""></div>
    <div class="preco1">De: 99,99R$</div>
    <div class="preco2">Por: 89,99R$</div>
    <div class="button">
        <button>COMPRAR</button>
    </div>
</form>